<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img alt="GRNDMA.IO" class="img-responsive text-center img-rounded" src="/img/grandma.jpg" />
			</div>
		</div>

	</div>
	<div>
		<h2> <bold> Welcome!</bold> </h2>
		<p>Use grndma.io to build a custom phone tree to help your family members leverage the power of the Internet - with any landline phone!. </p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>Generate</strong>
			</h2>
			<p>a catered profile for your loved one. <a href="/#!/signup">Sign up</a> for a free account, and get started today.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ake
			</h2>
			<p>a personalized phone tree that does exactly what your loved one needs- down to their favorite pizza toppings.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ccess
			</h2>
			<p>the convenience of life-changing technology without the inconvenience of using their interfaces.</p>
		</div>
	</div>

</section>
