<section data-ng-controller="AuthenticationController">
	<div >
		<form name="userForm" data-ng-submit="signup()" class="form" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-submit">Sign up</button>
				</div>
				<br>
				<div class="text-center">
					<a href="/auth/facebook" class="btn btn-social-icon btn-facebook">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="/auth/twitter" class="btn btn-social-icon btn-twitter">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="/auth/google" class="btn btn-social-icon btn-google">
						<i class="fa fa-google"></i>
					</a>
					<a href="/auth/linkedin" class="btn btn-social-icon btn-linkedin">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="/auth/github" class="btn btn-social-icon btn-github">
						<i class="fa fa-github"></i>
					</a>
				</div>
				<br>
				<div class="text-center">
					<a ui-sref="signin" class="show-signup" ng-click="$close()">Already have an account?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
