<section data-ng-controller="AuthenticationController">
	<div>
			<form data-ng-submit="signin()" class="form" autocomplete="off">
				<fieldset>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
					<br>
					<div class="text-center">
						<button type="submit" class="btn btn-submit">Sign in</button>
					</div>
					<br>
					<div class="text-center">
						<a ref="/auth/facebook" class="btn btn-social-icon btn-facebook">
					    <i class="fa fa-facebook"></i>
					  </a>
						<a href="/auth/twitter" class="btn btn-social-icon btn-twitter">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="/auth/google" class="btn btn-social-icon btn-google">
							<i class="fa fa-google"></i>
						</a>
						<a href="/auth/linkedin" class="btn btn-social-icon btn-linkedin">
							<i class="fa fa-linkedin"></i>
						</a>
						<a href="/auth/github" class="btn btn-social-icon btn-github">
							<i class="fa fa-github"></i>
						</a>
					</div>
					<br>
					<div class="text-center">
						<a ui-sref="forgot"  ng-click="$close()">Forgot your password?</a>
					</div>
					<div class="text-center">
					  <a ui-sref="signup" ng-click="$close()">Not registered?</a>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
	</div>
</section>
