*{ margin: 0; padding: 0;}

.btn {
	-webkit-transition: none;
	transition: none;
	-moz-box-shadow:    inset 0 -3px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
	box-shadow:         inset 0 -3px 0 rgba(0,0,0,.15);
}

body {
	background-color: #ff7a7c;
}

.navbar {
	background-color: transparent;
	background: #2f4154;
	border-color: transparent;
	-moz-box-shadow:    inset 0 -3px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
	box-shadow:         inset 0 -3px 0 rgba(0,0,0,.15);
}

.content {
	margin-top:40px;
}

.navbar-header > .navbar-brand {
    color: white;
}

.dropdown-menu {
	background-color: #2f4154;
	-moz-box-shadow:    inset 0 -3px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
	box-shadow:         inset 0 -3px 0 rgba(0,0,0,.15);
}

.dropdown-toggle span{
	color:white;
}

.dropdown-menu li>a{
	color:white;
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.logo{
	height:25%;
	width:25%;
}

.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

h1, h2, h4 {
	font-family: Helvetica,Arial,sans-serif;
	color: white;
}

fieldset {
	padding-top:30px;
	padding-bottom:10px;
}

.input-group {
	padding-bottom:10px;
}

.form {
	background-color: #F0F0F0;
	margin: 0 auto;
	padding: 15px 25px 45px;
	-moz-box-shadow:    inset 0 -3px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);
	box-shadow:         inset 0 -3px 0 rgba(0,0,0,.15);
}




.btn-submit{
	color: white;
	background-color: #9DD8D4;
	text-align:center;
	width:100%
}
