<section data-ng-controller="TreeMenusController">
    <div class="page-header">
        <h1>New TreeMenu</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">



                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <!--
                   <label class="control-label" for="phone">Phone</label>
                    <div class="controls">
                        <input type="tel" data-ng-model="phone" id="phone" class="form-control" placeholder="Phone" required>
                    </div>

                   <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="address" id="address" class="form-control" placeholder="Address" required>
                    </div>

                   <label class="control-label" for="lat">Latitude</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lat" id="lat" class="form-control" placeholder="Latitude">
                    </div>

                   <label class="control-label" for="lon">Longitude</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lon" id="lon" class="form-control" placeholder="Longitude">
                    </div>
                     -->

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
