<section data-ng-controller="GrandmasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Grandmas</h1>
    </div>
    <accordion close-others="true">
        <accordion-group data-ng-repeat="grandma in grandmas" is-open="isOpen">
              <accordion-heading>
                  {{grandma.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
              </accordion-heading>
              <div class="accordion-content" data-ng-show="!$scope.editIsOn">
                  <p>Phone Number: {{grandma.phone}}</p>
                  <p>Address:
                  <br>
                  Street: {{grandma.address.street}}
                  <br>
                  City: {{grandma.address.city}}   State: {{grandma.address.state}}
                  Zip: {{grandma.address.zip}}
                  </p>
                  <p>Latitude: {{grandma.address.lat}}</p>
                  <p>Longitude: {{grandma.address.lon}}</p>
              </div>
              <div class="pull-right">
              <a class="btn btn-primary" href="/#!/grandmas/{{grandma._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" data-ng-click="remove(grandma);">
                  <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
        </accordion-group>
        <accordion-group heading="+ Create a new grandma">
            <accordion-heading>
                <i class="fa fa-plus"></i> Create a new grandma <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <form class="form" data-ng-submit="create()" novalidate>
                <fieldset>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                          <label class="control-label" for="name">Name</label>
                          <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Grandma June" required>
                      </div>
                      <div class="input-group">
                          <label class="control-label" for="phone">Phone</label>
                          <input type="tel" data-ng-model="phone" id="phone" class="form-control" placeholder="(123) 456-7890" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                          <label class="control-label">Address</label>
                          <input type="text" data-ng-model="address.street" id="street" class="form-control" placeholder="Street" >
                          <input type="text" data-ng-model="address.city" id="city" class="form-control" placeholder="City" >
                          <input type="text" data-ng-model="address.state" id="state" class="form-control" placeholder="State">
                          <input type="text" data-ng-model="address.zip" id="zip" class="form-control" placeholder="Zip Code">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                          <label class="control-label" for="lat">Location</label>
                          <input type="text" data-ng-model="address.lat" id="lat" class="form-control" placeholder="Latitude">
                          <input type="text" data-ng-model="address.lon" id="lon" class="form-control" placeholder="Longitude">
                      </div>
                      <br>
                      <div class="text-center">
                          <input type="submit" class="btn btn-submit">
                      </div>
      				        <div data-ng-show="error" class="text-danger">
      					          <strong data-ng-bind="error"></strong>
      				        </div>
                    </div>
                  </div>
                </fieldset>
             </form>
          </accordion-group>
    </accordion>
    <div class="alert alert-warning text-center" data-ng-hide="!grandmas.$resolved || grandmas.length">
    	No Grandmas yet, why don't you <a ui-sref="createGrandma">create one</a>?
    </div>
</section>
