<section data-ng-controller="GrandmasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Grandmas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="grandma in grandmas" data-ng-href="#!/grandmas/{{grandma._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="grandma.created | date:'medium'"></span>
				by
				<span data-ng-bind="grandma.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="grandma.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!grandmas.$resolved || grandmas.length">
    	No Grandmas yet, why don't you <a href="/#!/grandmas/create">create one</a>?
    </div>
</section>
