<section data-ng-controller="GrandmasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="grandma.name"></h1>
	</div>

  <div class="col-md-12">
		<ul>
		<li>{{grandma.name}}</li>
		<li> {{grandma.phone}}</li>
		<li> {{grandma.address.full}}</li>
		<li> {{grandma.address.lat}}</li>
		<li> {{grandma.address.lon}}</li>
		<li> Phone treeMenu: (UGLY JSON) <br>
			<pre>
			{{grandma.rootTreeMenu | json}} </pre> </li>
		</ul>
	</div>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == grandma.user._id))">
		<a class="btn btn-primary" href="/#!/grandmas/{{grandma._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="grandma.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="grandma.user.displayName"></span>
		</em>
	</small>
</section>
