<section data-ng-controller="GrandmasController">
  <div class="col-md-12">
		<ul>
		    <li>Name: {{grandma.name}}</li>
		    <li>Phone Number: {{treeMenu.digit}}</li>
		    <li>Address: {{grandma.address}}</li>
		    <li>Latitude: {{grandma.lat}}</li>
	      <li>Longitude: {{treeMenu.lon}}</li>
		</ul>
	</div>

	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/grandmas/{{treeMenu._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="grandma.remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
